*.nupkg
*.dll
*.pdb
*.ps1
SampleApp.Tests
packages
bin
obj
.vs/SampleApp/v15/.suo
.vs/SampleApp/v15/Server/sqlite3/db.lock
.vs/SampleApp/v15/Server/sqlite3/storage.ide
.vs/SampleApp/v15/Server/sqlite3/storage.ide-shm
.vs/SampleApp/v15/Server/sqlite3/storage.ide-wal
SampleApp/Web.Debug.config
SampleApp/Web.Release.config
.vs/config/applicationhost.config
